{% extends 'homepage.html' %}
{% load static %} 
{% block content %}
    {% include 'includes/header.html' %}
    <div class=" simple_padding album py-5 bg-light">
        <div class="container">
    
          <div style="display: flex; justify-content:center;" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-8">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="50%" src="{{post.image.url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
    
                <div class="card-body">
                  <p class="card-text " style="width: 500px; margin: 15px 0;">{{post.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">12 Like</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">{{post.comment_post.count}} Comment</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">@{{post.owner.username}}</button>
                      {% if request.user == post.owner %}
                      <a href='{%url "post_update" post.id %}' class="btn btn-sm btn-outline-primary">Обновить пост</a>
                      <a href='{%url "delete_post" post.id %}' class="btn btn-sm btn-outline-danger">Удалить пост</a>
                      {% endif %}
                    </div>
                    <small class="text-muted">{{post.created}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" simple_padding album py-5 bg-light">
        <div class="container">
    
          <div style="display: flex; justify-content:center;" class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
            {% for comment in post.comment_post.all %}
            <div class="col-8">
              <div class="card shadow-sm">
                <div class="flex_comm">
                    <img style="width: 100px; margin-right:15px;" class="bd-placeholder-img card-img-top" width="100%" height="100" src="{{comment.user.profile_image.url}}"/>
                    <p class="card-text " style="width: 500px; margin: 15px 0;">{{comment.text}}</p>
                </div>
                
    
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">12 Like</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">2 Ответы</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">@{{comment.user.username}}</button>
                    </div>
                    <small class="text-muted">{{comment.created}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <div class="comment simple_padding  bg-light">
        <div class="container">
          <form class="d-flex" method="POST">
            {% csrf_token %}
            <textarea style="resize:none; height:100px;" class="form-control me-4" type="search" placeholder="Комментарий..  " aria-label="Search" name='text'></textarea>
            <button name='comment' style="height: 50px;" class="btn btn-outline-success" type="submit">Ответить</button>
          </form>
        </div>
      </div>
 
{% include 'includes/footer.html' %}
{% endblock %}