{% extends 'homepage.html' %}
{% load static %} 
{% block content %}
    {% include 'includes/header.html' %}
    <div class=" simple_padding album py-5 bg-light">
        <div class="container">
    
          <div style="display: flex; justify-content:center;" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
            <div class="col-8">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="50%" src="{{post.image.url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                <div class="card-body">
                  <p class="card-text " style="width: 500px; margin: 15px 0;">{{post.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post_id">
                        <button type="submit" class="btn btn-sm btn-outline-danger">{{post.post_like.count}} Like</button>
                      </form>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'post_detail' post.id %}"> {{post.comment_post.count}} Comment</a></button>
                      <a href='{% url 'profile' post.owner.username %}' class="btn btn-sm btn-outline-secondary">@{{post.owner.username }}</a>
                    </div>
                    <small class="text-muted">Дата создания: {{post.created}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
    
    {% endblock %}