{% extends 'homepage.html' %}
{% load static %} 
{% block content %}
    {% include 'includes/header.html' %}
    <div class=" simple_padding album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            <div class="top">
              <ul class="info_bar">
                <li class=""><img class="acc-logo" src="{{user.profile_image.url}}" alt=""></li>
                <li class="info_el"><h5 class="text-5">{{user.posts.count}}</h5><p class="text">Публикации</p></li>
                <li class="info_el"><h5 class="text-5">{{user.followers.count}}</h5><p class="text">Подписчики</p></li>
                <li class="info_el"><h5 class="text-5">{{user.follows.count}}</h5><p class="text">Подписки</p></li>
              </ul>
              <div class="simple_padding">
                <h2 class="name">{{user.username}}</h2>
                <p class="description">{{user.description}}</p>
                <a href="www.youtube.com" class="info_link">www.youtube.com</a>
              </div>
              {% if request.user == user %}
              <a href="{% url 'profile_update' request.user.username %}" class="btn btn-outline-primary">Редактировать профиль</a>
              {% else %}
              <form method="POST">
                {% csrf_token %}
                  {% if follow_status %}
                    <button class="btn btn-outline-danger">Отписаться</button>
                  {% else %}
                    <button class="btn btn-outline-primary">Подписаться</button>
                  {% endif %}
              </form>
              {% endif %}
            </div>
          </div>
          <div class="row simple_padding row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <h4 class="col-12 flex-center">Все публикации</h4>
            <div style="width: 100%;" class=" row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
              {% for post in user.posts.all %}
              <div class="col">
                <div class="card shadow-sm">
                  <a class="post_link" href="{% url 'post_detail' post.id %}">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="{{post.image.url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"></img></a>
                </div>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
      {% endblock %}