{% extends 'homepage.html' %}
{% load static %} 
{% block content %}
    {% include 'includes/header.html' %}
    <div class=" simple_padding album py-5 bg-light">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                  <h4 class="mb-3">Вы точно хотите удалить пост???!!??1?1?!??!?!?!?!?</h4>
                  <form method="POST" class="needs-validation" novalidate="">
                    {% csrf_token %}
                    <hr class="my-4">
                    <div class='d-flex'>
                        <a href='{% url "post_detail" post.id %}' class="w-100 btn btn-primary btn-lg" type="submit">Нет</a>
                        <button class="w-100 btn btn-danger btn-lg" type="submit">Удалить пост</button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
      </div>

{% include 'includes/footer.html' %}
{% endblock %}